/* You can add global styles to this file, and also import other style files */


body{padding:0px;margin:32px;font-family:Roboto,Arial,sans-serif;font-size:16px}

.main-content.landscape{
  height: 95%;
  margin-top: 100px;
  margin-left: 2px; padding-top: 28px;
  padding-right: 0px;
}
.row.landscape-heading{
  margin-bottom: 0px;
  padding-right: 30px;
  position: fixed;
  width: 70%;
  z-index: 10;
  background-color: white;
  padding: 5px 0px;
}
.landscape-heading p{
  margin: 0px;
}
.landscape .card .card-content{
  padding: 10px;
}
.landscape .long-card{
  min-height:120px ;
}
.landscape .long-card .long-card-content .sub-div{
  padding-top: 10px;
  padding-left: 3px;
  height: 100px;
  overflow: hidden;
  border-right: solid 2px rgba(0, 0, 0, 0.1);
}
.main-content{
  background-color: transparent;
  height: 100%;
  z-index: -1;
  margin-top: 120px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 6px !important;
  overflow-y: scroll;
  /*  background-color: #f2f2f2;*/

}
.main-content::-webkit-scrollbar {
  display: none;
}

.main-content .col .card .my-card
{
  padding-bottom: 0px;
  padding-top: 0px;
}
.main-content .col .card.fix-card{
  max-height : 240px;
  max-width: 220px;
}
.main-content .col .card.fix-card .card-content{
  padding: 0px 0px 0px 10px;
}
.main-content .col .card.fix-card .card-content span{
  font-size: 20px;
}
.main-content .col .card.fix-card .card-image img{
  max-height: 150px;
}
.main-content .col .card.fix-card .card-action a{
  text-transform: lowercase !important;
  margin-right: 0px;
  color: white;
}
.main-content .col .card.fix-card .card-action{
  padding: 0px 10px;
  font-size: 14px;
  color:white;
  text-transform: none;
}
.no-shadow
{
  box-shadow: 0px 0px 0px 0px;
}
.top-margin
{
  margin-top: 65px;
}
.no-margin, .card-action .no-margin a
{
  margin:0px 0px 0px 0px;
}
.app-header
{
  top: 0;
  background-color: #9e9e9e;
  z-index: 10;
  position: fixed;
  height: 100px;
  margin-top: 0px;
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 20px;
  border-bottom: solid 1px;width: 70%;
}
@media screen and (max-width: 992px){
  .app-header,.row.landscape-heading{
    width: calc(100% - 20px);
    padding-left: 0px;
  }
  .main-header-title{

    margin-left: 70px;
  }
  .app-content .fixed-content{
    padding: 0px !important;
    padding-left:0px !important;
  }
  .main-content{
    padding-right: 0px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1115px){
  .app-content .fixed-content{
    padding-left: 5% !important;
  }
  .main-content{
    padding-right: 0px;
  }
  .app-header,.row.landscape-heading{
    width: calc(70% - 20px);
  }
}
@media screen and (min-width: 1116px){
  .app-content .fixed-content{
    padding-left: 55.750px !important;
  }
  .app-header,.row.landscape-heading{
    width: calc(70% - 20px);
    /*padding: 0px !important;*/
  }
}
@media screen and (min-width: 1226px){
  .app-content .fixed-content{
    padding-left: calc(55.750px - 3%) !important;
  }
  .app-header,.row.landscape-heading{
    width: 72% ;
  }
}

.app-header div.right{
  color: #e91e63;
}

.modal .modal-footer div.modal-action.btn {
  width: 100%;
}
.modal.modal-fixed-footer .modal-footer {
  padding: 3px 80px;
}
.modal.modal-fixed-footer h4{
  text-align: center;
}
.modal.modal-fixed-footer::-webkit-scrollbar{
  display: none;
}
.modal.modal-fixed-footer .modal-content input,.modal.modal-fixed-footer .modal-content textarea{
  margin-bottom: 0px;
  padding-left:10px ;
  padding-right: 10px;
}
.main-content .card-content input{
  padding-left:10px ;
  padding-right: 10px;
}
.modal.modal-fixed-footer a i{
  padding: 1px;
}
.modal.modal-fixed-footer{
  height: 70%;
}
a {
  cursor: pointer;
}
.app-header div div.right h5, .main-content .col .fix-card div.my-route{
  cursor: pointer;
}
div.row.main-content{
  margin-bottom: 0px;
}

.input-div{
  padding-left: 10px;
  padding-right: 30px;
}

.setting-back::-webkit-scrollbar{
  display: none;
}
.setting-content::-webkit-scrollbar{
  display: none;
}

/*New Classes*/

.logo{
  margin: auto;
  width:200px;
}

.logo img{
  width: 200px;
  position: absolute;
  bottom: 100px
}

.menu-text{
  font-size: 20px;
}

.main{
  margin-left:300px;
}


.main-header{
  /*background: transparent;*/
  margin-left: 20px;
}
.main-header div{
  margin-right: 30px;
  cursor: pointer;
}
.main-header div i{
  font-size: 48px;
  margin-top:-20px;
}

.main-header-heading{
  margin-top:-5px;
  margin-left: 5px;
}
.main-header-title{
  color: #444;
  margin-top: 5px;
}

.main-card{
  background: transparent;
}

.main-card-box{
  display: inline-block;
  width: 220px;
  padding: 10px;
}

.main-card-image{
  width:100%;
  height: 150px;
  cursor: pointer;
}
.main-card-content{
  margin: 0 !important;
  padding: 10px !important;
}

.main-card-title{
  font-size: 18px !important;
  letter-spacing: .5px !important;
  color: #ccc !important;
  cursor: pointer;
  overflow: hidden;
  /*display: -webkit-box;*/
  /*height: 50px;*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*-webkit-line-clamp: 2;*/
  /*-webkit-box-orient: vertical;*/
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  max-width: 100%;
}
.main-card-links{
  margin-top: 10px !important;
  font-size: 17px !important;
}

.modal-close-button{
  position: absolute !important;
  right:-28px !important;
  top:-30px !important;
  /*z-index: 5000 !important;
  opacity: 1; */
  background: #e91e63 !important;
}

.modal-button{
  margin-top: 20px;
  padding: 10px !important;
  height: auto !important;
  width: 250px !important;
  max-width:100% !important;
  font-size: 20px !important;
  text-transform: capitalize !important;
  margin-bottom: 15px !important;
}




/* do not group these rules */
*::-webkit-input-placeholder {
  color: #777 !important;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: #777 !important;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #777!important;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #777 !important;
}


.login-logo{
  width:150px !important;
  height: auto !important;
  margin-top: 3%;
}
.login-header{
  border-radius: 5px 5px 0 0;
  height:100px;
}

.login-input-box{
  padding:0px !important;
  margin: 10px 0 0 0 !important;
  border: 1px solid grey;
}
.login-input-icon{
  margin:7px auto auto 5px !important;
  padding:0 !important;
}
.login-input-field{
  padding:0px !important;
  margin: 0 0 0 50px !important;
  border:none !important;
  width:83% !important;
  max-width: 83% !important;
}
.login-forgot{
  margin-left: -10px !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  letter-spacing: .5px !important;
  color:#FF1493;
}

.login-footer{
  border-radius: 0 0 5px 5px;
}
.login-footer-button{
  padding: 6px !important;
  height: auto !important;
  font-size:18px !important;
}

.sidenav-menu-icon{
  font-size: 40px !important;
  color:#e91e63;
  position: fixed !important;
  z-index: 11 !important;
  top:40px !important;
  left: 10px !important;
}

.modal-container{
  width: 450px !important;
  max-width: 450px !important;
  min-width: 400px !important;
  /*height: 500px !important;*/
  min-height: 400px !important;
  max-height: 560px !important;
  overflow: visible !important;
}
.modal-content-container{
  overflow: visible;
  padding: 15px 40px !important;
}
.modal-content-container input{
  padding: 0 !important;
  margin: 2px 0 !important;
}
.modal-content-container h5{
  padding: inherit !important;
}
.modal-content-container p{
  font-size: 14px !important;
  color: red !important;
}

.profile-image{
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  border: 2px solid gainsboro !important;
  padding: 2px !important;
}

.lib-form input{
  margin-bottom: 0 !important;
}
.lib-form p {
  margin-top: 0px !important;
  color: red !important;
  font-size: 12px !important;
}
.lib-modal-scroll{
  max-height: 535px; overflow: scroll; padding: 0 40px !important;
}
/*End of New Classes*/
