<div>
  <div class="row app-header main-header grey lighten-5">
    <h5 class="left main-header-title">Messages</h5>
    <div class="right" (click)="addMessage()" >
      <i class="material-icons" >add_circle_outline</i>
      <h5 class="right main-header-heading">New Message</h5>
      </div>
  </div>

  <div [hidden]="newMessage">
  <div class="row my-padding landscape-heading grey lighten-3 z-depth-1">
    <div class="col s4 offset-s1"><p class="text--cap">Message</p> </div>
    <div class="col s5"><p class="center-align">Schedule</p> </div>
    <div class="col s2"><p class="col" style="margin-left: 5px; padding-left: 25px">action</p> </div>
  </div>



  <div class="row main-content landscape" >

    <div *ngFor="let message of _messages" class="card white row transparent long-card">
      <div class="card-content long-card-content ">
        <div class="col s4 offset-s1 sub-div">
          <p>{{message.heading}}</p>
          <p>{{message.content}}</p>
        </div>
        <div class="col s5 sub-div">
          <p class="center-align ">Date</p>
        </div>
        <div class="col s2 right sub-div" style="border-right: none; ">
          <div class="row col offset-s4"><a class="black-text">Post</a></div>
          <div class="row col offset-s4"><a class="red-text">Delete</a></div>
           </div>
      </div>
    </div>
  </div>
    </div>
  <div class="row main-content" [hidden]="!newMessage">
    <div class="row">
      <textarea>Text editor</textarea>
    </div>
    <div class="row">
      <button class="btn-flat light-blue darken-1 white-text" (click)="showMessage()">Submit</button>
    </div>
  </div>
</div>





<!--
<div class="row" >
  <h4 class="left bold condensed"> Campaign</h4>
</div>
<div>
  <div class="row main-content" >
    <div class="col s12 m4">
      <div class="white card">
        <div class="card-content">
          <h5 class="card-title">Existing</h5>
          <div style="height:300px; overflow-y:scroll; background-color: #cccccc">
            <div *ngFor="let message of _messages" class="card" style="margin-left:5px; margin-right:5px;">
              <div class="card-content">
                <span class="card-title">{{message.heading}}</span>
                <p>{{message.content}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m8">
      <div class="white card">
        <div class="card-content">
          <h5 class="card-title">Create New</h5>
          <form>
            <textarea style="height:150px"></textarea>
            <button class="btn waves-effect waves-light modal-trigger" (click)="openModalUsers()"><i class="material-icons left">recent_actors</i> Users</button>
            <button class="btn waves-effect waves-light">Send<i class="material-icons right">send</i></button>
            <button class="btn waves-effect waves-light modal-trigger" (click)="openModalSchedule()"><i class="material-icons left">schedule</i>Schedule</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<!--users list modal-->
<!--
<div id="modalUsersList" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalUsersActions">
  <div class="modal-content">
    <form>
      <div *ngFor="let user of _users">
        <input type="checkbox" style="position: static; opacity: 1" [name]="user.id" [checked]="saveUsername" (change)="saveUsername = !saveUsername">{{user.username}}

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModalUsers()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="usersSelected()">Add</a>
  </div>
</div>

&lt;!&ndash;schedule modal&ndash;&gt;
<div id="modalSchedule" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalScheduleActions">
  <div class="modal-content">
    <form>
      <div>
        <label for="scheduleDate">Date</label>
        <input id="scheduleDate"
               materialize="pickadate"
               [materializeParams]="[{selectMonths: true, selectYears: 1}]"  type="text" />
      </div>
      <div>
        <label for="timepicker">Time</label>
        <input id="timepicker" class="timepicker" type="time">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModalSchedule()">Close</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Add</a>
  </div>
</div>
-->
