<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>
<div>
  <div class="row app-header main-header grey lighten-5">
    <h5 class="left main-header-title">Subjects</h5>
    <div class="right" (click)="openModal()">
      <i class="material-icons">add_circle_outline</i>
      <h5 class="right modal-trigger main-header-heading">
        Add Subject</h5>
    </div>
  </div>

  <div class="row main-content main-card">
    <div *ngFor="let subject of subjects" class="main-card-box">
      <div class="card">
        <div class="card-image" (click)="onSelect(subject)">
          <img src="" class="main-card-image">
        </div>
        <div class="card-content blue-grey darken-3 main-card-content">
          <p class="main-card-title" (click)="onSelect(subject)">{{subject.subject_name}}</p>
          <p class="main-card-links">
            <a class="modal-trigger grey-text lighten-4" (click)="openModalEdit(subject)">Edit</a>
            <a class="right grey-text lighten-4" (click)="deleteSubject(subject)">Delete</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--add modal New-->
<div class="modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsAdd"
     style="overflow: visible; min-width:400px !important">
  <form (submit)="addSubject(addForm)" novalidate #addForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 23px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModal(addForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">Add a subject</h5>
        <input type="text" class="input-field" name="subName" placeholder="Subject Name" required
               [(ngModel)]="newSubject.subject_name" #subNameField="ngModel">
        <p>
          <span *ngIf="subNameField.touched && subNameField.invalid">Required!</span>&nbsp;
        </p>
        <input type="text" class="input-field" id="color" name="color" placeholder="Subject Color" required
               [(ngModel)]="newSubject.subject_color" #subColor="ngModel">
        <p style="font-size:14px;" class="red-text">
          <span *ngIf="subColor.touched && subColor.invalid">Required!</span>&nbsp;
        </p>
        <div class="center-align">
          <button type="submit" class="btn center-align light-blue darken-1 modal-button"
                  [disabled]="addForm.invalid || loading">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Edit modal-->
<div id="modalEditSubject" class="modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsEdit" style="overflow: visible; min-width:400px !important">
  <form (submit)="updateSubject(editForm)" novalidate #editForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 23px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModalEdit(editForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">Edit Subject</h5>
        <input type="text" class="input-field" name="subName" placeholder="Subject Name" required
               [(ngModel)]="editSubject.subject_name" #subNameEdit="ngModel">
        <p><span *ngIf="subNameEdit.touched && subNameEdit.invalid">Required!</span></p>
        <input type="text" class="input-field" name="color" placeholder="Subject Color" required
               [(ngModel)]="editSubject.subject_color" #subColorEdit="ngModel">
        <p><span *ngIf="subColorEdit.touched && subColorEdit.invalid">Required!</span>&nbsp;</p>
        <div class="center-align">
          <button type="submit" class="btn center-align light-blue darken-1 modal-button"
                  [disabled]="editForm.invalid || loading">Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
