<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>
<div>
  <div class="row app-header main-header grey lighten-5">
    <h5 class="left main-header-title"> Users</h5>
  </div>
  <div class="row landscape-heading grey lighten-3 z-depth-1">
    <div class="col s4 offset-s1">
      <p class="text--cap ">Contacts</p>
    </div>
    <div class="col s5">
      <p class="text--cap center-align">Subscription</p>
    </div>
    <div class="col s2">
      <p class="text--cap center-align">Action</p>
    </div>
  </div>
  <div class="row main-content landscape">
    <div *ngFor="let user of users; let i = index" class="card white row transparent long-card" style="height: 120px">
      <div class="card-content long-card-content">
        <div class="col s5 sub-div">
          <div class="col s3">
            <img src="{{user.profile_picture || '../../assets/images/user.png'}}" class="circle left responsive-img"
                 class="profile-image">
          </div>
          <div class="col s9">
            <p>{{user?.full_name}}</p>
            <p>{{user?.email}}</p>
            <p>{{user?.phone}}</p>
          </div>
        </div>
        <div class="col s5 sub-div">
          <div class="center-align" *ngIf="user.subscribed_plan && user.subscribed_plan.subscription_title">
            <p>Package: {{user.subscribed_plan?.subscription_title}}</p>
            <p>Subscribed: {{user.subscribed_plan?.subscriptionDate|date:'dd/MM/yyyy'}}</p>
            <p>Expiry:
              {{user?.subscribed_plan?.subscriptionDate.getTime()+user.subscribed_plan?.subscription_duration*24*60*60*1000|date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="center-align" *ngIf="!user.subscribed_plan || !user.subscribed_plan.subscription_title">
            <p>No subscription yet.</p>
          </div>
        </div>
        <div class="col s2 right sub-div" style="border-right: none">
          <div class="row " style="margin-bottom: 0px">
            <p class="col s3 offset-s3">Ban</p>
            <p class="col s6">
              <input type="checkbox" id="user{{i}}" [(ngModel)]="user.banned" (change)="banUser(user)" [disabled]="loading">
              <label for="user{{i}}"></label>
            </p>
          </div>
          <div class="row col offset-s1">
            <button class="btn red-text btn-flat" (click)="deleteUser(user)" [disabled]="loading" >Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
