<div class="progress" *ngIf="loading" style="position: absolute; z-index: 11; left: 0;">
  <div class="indeterminate"></div>
</div>
<div>
  <div class="row app-header main-header grey lighten-5">
    <div class="right" (click)="openModal()">
      <i class="material-icons">add_circle_outline</i>
      <h5 class="right modal-trigger main-header-heading">
        Add Admin
      </h5>
    </div>
  </div>

  <div class="row main-content main-card">
    <div *ngFor="let admin of admins" class="main-card-box">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/images/user.png" class="main-card-image">
        </div>
        <div class="card-content blue-grey darken-3 main-card-content">
          <p class="main-card-title">{{admin.username}}</p>
          <p class="main-card-links">
            <a class="modal-trigger grey-text lighten-4" (click)="openModalEdit(admin)">Edit</a>
            <a class="right grey-text lighten-4" (click)="deleteAdmin(admin)">Delete</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalAddAdmin" class="modal grey lighten-2 modal-container" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsAdd">
  <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
    <div class="lib-modal-scroll lib-form">
      <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModal()"><i
        class="material-icons">close</i></a>
      <h5 class="center-align">Add Administrator</h5>

      <form (submit)="createAdmin(createForm)" novalidate #createForm="ngForm">
        <div>
          <input type="text" class="input-field" id="username" name="username" placeholder="Username"
                 [(ngModel)]="newAdmin.username"
                 required #usernameField="ngModel">
          <p *ngIf="usernameField.touched && usernameField.invalid">Username is required!</p>
        </div>
        <div>
          <input type="email" class="input-field" id="email" name="email" placeholder="someone@example.com"
                 [(ngModel)]="newAdmin.email"
                 required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                 #emailField="ngModel">
          <p *ngIf="emailField.touched && emailField.invalid">Please enter a valid email</p>
        </div>
        <div>
          <input type="number" class="input-field" id="phone" name="phone" placeholder="Phone Number"
                 required minlength="10" maxlength="10" pattern="^([()\- x+]*\d[()\- x+]*){10,10}$"
                 [(ngModel)]="newAdmin.phone" #phoneField="ngModel">
          <p *ngIf="phoneField.touched && phoneField.invalid">Please enter a valid phone number</p>
        </div>
        <div>
          <input type="password" class="input-field" id="password" name="password" placeholder="Password"
                 [(ngModel)]="newAdmin.password"
                 required minlength="6" #passwordField="ngModel">
          <p *ngIf="passwordField.touched && passwordField.invalid">Your password needs more than 6 characters!</p>
        </div>
        <div class="center-align">
          <button type="submit" class="btn light-blue darken-1 modal-button" [disabled]="createForm.invalid || loading">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modalEditAdmin" class="modal grey lighten-2 modal-container" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsEdit">
  <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
    <div class="lib-modal-scroll lib-form">
      <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModalEdit()"><i
        class="material-icons">close</i></a>
      <h5 class="center-align">Edit Administrator</h5>

      <form (submit)="updateAdmin(editForm)" novalidate #editForm="ngForm">
        <div>
          <input type="text" class="input-field" name="eusername" placeholder="Username"
                 [(ngModel)]="editAdmin.username"
                 required #usernameFieldEdit="ngModel">
          <p *ngIf="usernameFieldEdit.touched && usernameFieldEdit.invalid">Username is required!</p>
        </div>
        <div>
          <input type="email" class="input-field" name="eemail" placeholder="someone@example.com"
                 [(ngModel)]="editAdmin.email"
                 required pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                 #emailFieldEdit="ngModel">
          <p *ngIf="emailFieldEdit.touched && emailFieldEdit.invalid">Please enter a valid email</p>
        </div>
        <div>
          <input type="number" class="input-field" name="ephone" placeholder="Phone Number"
                 required minlength="10" maxlength="10" pattern="^([()\- x+]*\d[()\- x+]*){10,10}$"
                 [(ngModel)]="editAdmin.phone" #phoneFieldEdit="ngModel">
          <p *ngIf="phoneFieldEdit.touched && phoneFieldEdit.invalid">Please enter a valid phone number</p>
        </div>
        <div>
          <input type="password" class="input-field" name="epassword" placeholder="Password"
                 [(ngModel)]="editAdmin.password"
                 required minlength="6" #passwordFieldEdit="ngModel">
          <p *ngIf="passwordFieldEdit.touched && passwordFieldEdit.invalid">Your password needs more than 6
            characters!</p>
        </div>
        <div class="center-align">
          <button type="submit" class="btn light-blue darken-1 modal-button" [disabled]="editForm.invalid || loading">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
