<div>
  <div class="row app-header main-header grey lighten-5">
    <!--<div class="right" (click)="openModal()">-->
      <!--<i class="material-icons">add_circle_outline</i>-->
      <!--<h5 class="right modal-trigger main-header-heading">-->
        <!--Add Admin-->
      <!--</h5>-->
    <!--</div>-->
  </div>
  <div>
    <div class="row main-content">
      <div class=" col  s6 push-s3 card transparent no-shadow" style="box-shadow: none">
        <div class="card-content">
          <form (submit)="onSubmit(form)" novalidate #form="ngForm">
            <!--<div class="col s4 push-s4"><img src="{{profile.profile_picture || '../../assets/images/user.png'}}" class="profile-image"></div>-->
            <div class="top-margin">
              <input type="text" class="input-field" name="username" placeholder="Username"
                     style="border-bottom: 1px solid gainsboro;" #usernameField="ngModel" [(ngModel)]="profile.username"
                     required>
              <p style="font-size:14px;" class="red-text">
                <span *ngIf="usernameField.touched && usernameField.invalid">Please enter your username!</span>&nbsp;
              </p>
            </div>
            <div>
              <input type="number" class="input-field" name="phone" placeholder="Phone Number"
                     style="border-bottom: 1px solid gainsboro;" #phoneField="ngModel" [(ngModel)]="profile.phone"
                     required
                     minlength="10" maxlength="10" pattern="^([()\- x+]*\d[()\- x+]*){10,10}$">
              <p style="font-size:14px;" class="red-text">
                <span *ngIf="phoneField.touched && phoneField.invalid">Please enter a valid phone number!</span>&nbsp;
              </p>
            </div>
            <div>
              <input type="email" class="input-field" name="email" placeholder="Email"
                     style="border-bottom: 1px solid gainsboro;" #emailField="ngModel" [(ngModel)]="profile.email"
                     required
                     pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$">
              <p style="font-size:14px;" class="red-text">
                <span *ngIf="emailField.touched && emailField.invalid">Please enter a valid email!</span>&nbsp;
              </p>
            </div>
            <div>
              <input type="password" class="input-field" name="password" placeholder="Password"
                     style="border-bottom: 1px solid gainsboro;" #passwordField="ngModel" [(ngModel)]="profile.password"
                     required minlength="6">
              <p style="font-size:14px;" class="red-text">
          <span
            *ngIf="passwordField.touched && passwordField.invalid">Your password needs more than 6 characters!</span>&nbsp;
              </p>
            </div>
            <div>
              <input type="password" class="input-field" name="password2" placeholder="Confirm Password"
                     style="border-bottom: 1px solid gainsboro;" #passwordField2="ngModel" [(ngModel)]="password2">
              <p style="font-size:14px;" class="red-text">
                <span
                  *ngIf="passwordField2.touched && passwordField2.value && passwordField.value!=passwordField2.value">Password mismatch</span>&nbsp;
              </p>
            </div>

            <div class="center-align">
              <button type="submit" class="btn white-text light-blue darken-2"
                      style="padding: 6px; height: auto!important; width: 250px; max-width: 100%; text-transform: none"
                      [disabled]="form.invalid || passwordField.value!=passwordField2.value || loading">
                Update
                profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
