<div class="progress" *ngIf="loading" style="position: absolute; left: 0px">
  <div class="indeterminate"></div>
</div>
<div class="row">
  <div class="col push-m4 m4 s12" style="margin-top: 5%">
    <form (submit)="onSubmit(form)" novalidate #form="ngForm">
      <div class="card transparent" style="border-radius: 5px">
        <div class="row my-lib" style="border-radius: 5px 5px 0 0; height:100px">
          <div class="center-align" style="width:150px; margin: auto; margin-top: 3%">
            <img src="../../assets/images/logo.png" style="width:150px; height: auto">
          </div>
        </div>
        <div class="row my-login">
          <div class="row">

            <!--Username-->
            <div class="input-field col s12 white login-input-box">
              <i class="material-icons prefix fa fa-user login-input-icon" aria-hidden="true"></i>
              <input type="text" [(ngModel)]="username" id="username" name="username" required #usernameField="ngModel"
                     placeholder="Username"
                     class="login-input-field">
            </div>
            <p style="font-size:14px;" class="red-text">
              <span *ngIf="usernameField.touched && usernameField.invalid">Please enter your username!</span>&nbsp;
            </p>

            <!--Password-->
            <div class="input-field col s12 white login-input-box">
              <i class="material-icons prefix fa fa-lock login-input-icon" aria-hidden="true"></i>
              <input type="password" id="password" name="password" [(ngModel)]="password" required minlength="6"
                     #passwordField="ngModel" placeholder="Password"
                     class="login-input-field">
            </div>
            <p style="font-size:14px;" class="red-text">
              <span
                *ngIf="passwordField.touched && passwordField.invalid">Your password needs more than 6 characters!</span>&nbsp;
            </p>
          </div>

          <a class="login-forgot modal-trigger" (click)="openModal()">I forgot my password</a>
        </div>
        <div class="row my-login-action" style="border-radius: 0 0 5px 5px">
          <button class="btn wave-effect my-login-button" [disabled]="form.invalid || loading" type="submit"
                  style="padding: 6px; height: auto; font-size:18px">
            Log In
          </button>
          <br><br>
          <a routerLink="/super_login" class="right">I am a Superuser</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Password forgot modal-->
<div id="modalForgotPass" class="modal modal grey lighten-2" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions"
     style="overflow: visible; min-width:500px !important; min-height:320px !important">
  <form (ngSubmit)="send(resetPassForm)" novalidate #resetPassForm="ngForm">
    <div class="modal-content">
      <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModal()"><i
        class="material-icons">close</i></a>
      <h5 class="center-align">Forgot Password</h5>
      <div class="input-field input-div" style="margin-top: 50px">
        <i class="material-icons prefix">email</i>
        <input type="email" name="resetEmail" placeholder="Email" [(ngModel)]="resetEmail" required
               pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
               #emailField="ngModel">
        <p class="red-text" *ngIf="emailField.touched && emailField.invalid">Please enter a valid email</p>
      </div>
    </div>
    <div class="center-align">
      <button class="btn center-align light-blue darken-1 modal-button" type="submit"
              [disabled]="resetPassForm.invalid || loading">
        Send Reset Instructions
      </button>
    </div>
  </form>
</div>

